# password for the database (just make it a strong, random password)
# can be generated with something like `openssl rand -base64 32`
# should not change after initial database creation.
# Database should never be exposed outside the project's docker network,
# but this is an extra security measure if someone does access it.
DB_PASS=VBjAr253vcHnsOQZbmhnLVsUvIDwFwNW4+8AneVFx4Q=

# No-reply variables (for forgot-password):
# 
# ** Without these variables set, forgot-password won't work!
# 
# NR Email and Pass are used to log into your email on the SMTP server
#
# NR_EMAIL=example@mail.com
# NR_PASS=mysecurepassword
#
# NR_ENC is ssl or tls (No encryption if unset, which is not recommended)
# NR_ENC=tls
#
# NR_PORT is the port on the smtp server
# NR_PORT=465

# DOMAIN_NAME is where you plan to host the web-server
# It gets used to generate the reset password link for forgot-password emails
# DOMAIN_NAME=localhost

# BOOTSTRAP credentials are used to create the initial admin user if they don't yet
# exist. You can log in with them on the site after a fresh install if they were present.
# 
# BOORSTRAP_USER=PietieKoos
# BOOTSTRAP_EMAIL=ohmy@gmail.com
# BOOTSTRAP_PASSWORD=so-soverysecure-pwd

# Ports to expose to the host system, so it can access the web server
# HTTP_PORT=80
# HTTPS_PORT=443
